/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1189px){
	
}
@media only screen and (max-width : 1094px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 990px) {
	.container{
		width: 100%;
	    //padding: 0 5px;
	}
	.header-top-right{
		margin-right: 10px;
	}
	.header-bottom-nav-link{
		width: 100%;
		text-align: center;
	}
	.header-bottom-nav-link{
		&:hover{
			color: $green;
		}
	}
	.footer-contant{
		display: block;
		text-align: center;
	}
	.footer-links{
		width: 100%;
		margin-bottom: 20px;
		&:after,
		&:before{
			display: none;
		}
	}
	.footer-title{
		border-radius: 0;
	}
	.footer-social-networks,
	.footer-contacts{
		width: 49%;
	    margin: 0 0 20px 0;
		padding: 0;
	}
	.footer-link-item{
		width: 32%;
		margin-right: 0;
	}
	.footer-copyright-block{
    	padding-bottom: 20px;
	}
	.main{
		margin-bottom: 0;
	}
	.aside-search, 
	.aside-singup{
		&:after{
			display: none;
		}
	}
	.aside-select-list-button{
		border-radius: 5px;
		width: 100%;
		text-align: center;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.list-button-img,
	.list-button-img-arrow{
		display: none;
	}
	.aside-input,
	.aside-button{
		display: inline-block;
		width: 100% !important;
	}
	.aside-button{
		text-align: center;
		margin-top: 14px;
	}
	.main-contant,
	.main-aside{
		width: 100% !important;
	}
	.main-aside{
		text-align: center;
	}
	.aside-select-list-block,
	.aside-search,
	.aside-singup{
		width: 32%;
		display: inline-block;
		vertical-align: top;
	}
	.footer{
		padding-bottom: 0;
	}
	.social-networks-title{
	    display: inline-block;
	    padding-right: 32px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.aside-select-list-block,
	.aside-search,
	.aside-singup{
		width: 100%;
	}
	.main-text-img{
		display: none;
	}
	.main-text-info{
		width: 100%;
	}
	.main-list-info-item{
		text-align: center;
		margin-bottom: 30px;
		width: 49%;
		margin-right: 0;		
	}
	.slick-dots{
		display: none !important;
	}
	.main-slider-text{
		right: 0;
		height: auto;
		width: 100%;
		top: 100%;
		transform: translateY(-100%);
		border-radius: 0;
	}
	.slider-text-title,
	.slider-text-subtitle{
		display: inline-block;
	}
	.main-slider-img{
		width: auto;
	}
}
@media only screen and (max-width : 620px) {
	.header-top-left,
	.header-top-right,
	.header-top-text{
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.header-top-right{
		float: none;
	}
	.logo{
		display: inline-block;
		position: relative;
	    margin-bottom: 14px;
	}
	.header-bottom{
	    margin: 20px 0px 10px;
	}
}
@media only screen and (max-width : 605px) {

}
@media only screen and (max-width : 520px) {
	.footer-link-item,
	.footer-social-networks,
	.footer-contacts{
		width: 100%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.main-list-info-item{
		width: 100%;
	}
	#main-list ul li.main-list-title{
		width: 100%;
		border-radius: 0;
	}
}
@media only screen and (max-width : 460px) {

}

@media only screen and (max-width : 360px) {
	.header-top-nav-link{
		padding: 5px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}